-# jQuery has been added for posting answers only and is not required
%script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js")

- slides.each do |slide|
  %h1= slide.caption
  %div
    %img(src="#{slide.image_desktop}")
  %div
    %a.slides(href="/assessments/#{assessment_id}/slides/#{slide.id}/true") Me
    %a.slides(href="/assessments/#{assessment_id}/slides/#{slide.id}/false") Not Me

%a(href="/assessments/#{assessment_id}/results") Done!

-# This script only binds to the answer links to post selections to server
:javascript
  $(document).ready(function(){
    $('.slides').click(function(e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: this.href,
      });
      return false;
    });
  })
